Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

RewriteCond %{REQUEST_URI} !^/(yii2app)/(web)
RewriteRule ^assets/(.*)$ /yii2app/web/assets/$1 [L]
RewriteRule ^css/(.*)$ yii2app/web/css/$1 [L]
RewriteRule ^js/(.*)$ yii2app/web/js/$1 [L]
RewriteRule ^images/(.*)$ yii2app/web/images/$1 [L]
RewriteRule (.*) /yii2app/web/$1

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /yii2app/web/index.php